$pink: #e91e63;
$green:rgb(18, 120, 74);
$secondary-background-color: #f1f1f1;
.header
{
    width: 100%;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: $secondary-background-color;
    .icon_cart
    {
        position: relative;
    }
    &_leng
    {
        width: 20px;
        height: 20px;
        font-size: 16px;
        z-index: 99;
        position: absolute;
        top: -12px;
        right: -12px;
        font-weight: 500;
        background-color:$pink;
        border-radius: 50%;
        padding: 0 6px;
        color: #f1f1f1;
    }

    &_logo
    {
        font-size: 25px;
        text-align: center;
    }
    &_icons
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        font-size: 20px;
        cursor: pointer;
    }
}

nav 
{
   ul
   {
        display: flex;
        gap:15px;
    li
    {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;

        &:hover
        {
            color: $pink;
        }
        &::after
        {
            display: block;
            position: absolute;
            content: "";
            bottom: -8px;
            width: 0;
            height: 2px;
            background-color: $pink;
            transition: width 1s;
        }
        &:hover::after
        {
            width: 100%;
            transition: 0.3s ease-in-out;
        }
    } 
   }

    
}
.menu_moblie,.menu_close
{
    display: none;
}
@media only screen and (max-width: 667px)
{
    .menu_moblie,.menu_close
    {
        display: block;
    }
    .menu_close
    {
        position: absolute;
        left: 6px;
        top: 2px;
    }
    nav
    {
        position: fixed;
        top:50px;
        left:-100%;

        width: 100%;
        height: 100vh;

        background: rgb(231, 210, 210);
        color: black;
        transition: 0.5s ease-in;
        z-index: 9999;

        ul
        {
             display: flex;
            flex-direction: column;

            li:first-child{
                padding-top: 20px;
            }
    
        }
    }

    .active
    {
        left: 0;
    }

    .item_title
    {
        font-size: 12px;
    }
    .footer_title
    {
        font-size: 14px;
    }

}